# Git
.git
.gitignore

# Node.js
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# 編輯器和 IDE 文件
.idea
.vscode
*.swp
*.swo

# 操作系統文件
.DS_Store
Thumbs.db

# 構建輸出
dist
build
out

# 環境變數
.env.local
.env.development.local
.env.test.local
.env.production.local

# 測試文件
coverage
.nyc_output

# 文檔和其他
docs
*.md
LICENSE
CONTRIBUTING.md

# 本地開發目錄
work
markdown
