# AInTandem
.flexy-qwen/
.flexy-claude/
.flexy-gemini/
.flexy-codex/
.cospec-sync/
.kai-notify.json

.pnpm-store/
node_modules/
work/
dist/
.DS_Store
*.log

.wrangler/state/*
figma-mocks/
app-react/playwright-report/
app-react/test-results/